body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

#nadpis {
    color: #333;
    margin-bottom: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

input[type="number"] {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

select {
    padding: 5px;
    font-size: 16px;
}

button {
    background-color: #787878;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4a4a4a;
}

#vysledek {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    font-size: 20px;
}
